<ds-modal [visible]="true">
  <ds-modal-header [hideCloseButton]="true">
    <h3 class="modal-title">{{ 'FEATURES.LOGOUT.TITLE' | translate }}</h3>
  </ds-modal-header>
  {{ 'FEATURES.LOGOUT.DESCRIPTION' | translate }}
  <ds-modal-footer>
    <button class="mr-2" dsButton="default" [mat-dialog-close]="false">{{ 'FEATURES.LOGOUT.CANCEL' | translate }}</button>
    <button dsButton="primary" [mat-dialog-close]="true">{{ 'FEATURES.LOGOUT.OK' | translate }}</button>
  </ds-modal-footer>
</ds-modal>
